/* Estilo del menú */
.menu {
  background-color: #004080;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-img {
  width: 200px;
  margin-right: 450px;
}

.menu button {
  color: white;
  font-size: 16px;
}

.menu button:hover {
  color: #ffcc00;
}

/* Estilos de los menús desplegables */
.MuiMenu-paper {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.MuiMenuItem-root {
  color: #004080;
  font-weight: bold;
}

.MuiMenuItem-root:hover {
  background: #ffcc00;
  color: #004080;
}

/* Estilo del mapa */
/* Estilo para el mapa */
.map-container {
  position: fixed; /* Posiciona el mapa de manera fija */
  bottom: 0; /* Lo coloca en la parte inferior */
  left: 0;
  width: 100%; /* Ancho completo */
  height: 300px; /* Altura del mapa (ajústalo según sea necesario) */
  z-index: 1000; /* Asegura que el mapa esté encima de otros elementos */
}

iframe {
  width: 100%;
  height: 100%; /* Ajusta el mapa a la altura del contenedor */
  border: none; /* Eliminar borde del iframe */
}
